@charset "utf-8";
p { 
    font-size: 1.3em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1em;


}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 { 
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
