div { 
    height: 80px;
    width: 80px;
}


div:hover { 
    color: #8FA3B8;

}

div > p { 
    display: none;
}

div:hover > p { 
    display: block;
    width: 150px;
    height: 150px;
    background-color:#E8A07C ;
    border:10px solid  black;
}