        @import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Playwrite+NZ+Basic:wght@100..400&family=Sriracha&display=swap');
        
* { 
    margin: 0px;
    padding: 0px;
}

body { 
    background-color:#DCC9A6 ;
}


header { 
    font-family: 'Passion One';
    background-color: #3B2F2F;
    color: #E6D3B1;
    text-align: center;
    padding: 15px;
}

header aside { 
    padding: 10px;
}

aside > span { 
    color: #CBB596;
}

aside a { 
    color: #E6D3B1;
    text-decoration: none;
}

footer { 
    font-family: 'Passion One';
    background-color: #3B2F2F;
    color: #E6D3B1;
    text-align: center;
    padding: 15px;
}

section#part1 { 
    background-color:#DCC9A6 ;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom: 10px;
}

section#part2 { 
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#DCC9A6 ;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom: 10px;
    
}

section#part3 { 
    background-color: #DCC9A6;
    padding-top:10px ;
    padding-bottom: 10px;
    font-size: 25px;
    
}

section#part4 { 
    background-color: #DCC9A6;
    font-size: 25px;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:10px ;
    padding-bottom: 10px;
}

section#part4 > pre { 
    background-color: #6e6e6e8c;
    width: 480px;
    border-radius: 10px;
}

section#part5 { 
    background-color: #DCC9A6;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom: 10px;
   
}

section#part6 { 
    background-color: #DCC9A6;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom: 10px;
}


pre { 
    font-family: 'Sriracha';
}
pre#joana { 
    color: #DCC9A6;
}