@charset "UTF-8";

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

body, table{ 
    text-align: center;
    margin: auto;
}

table { 
    border-collapse: collapse;
    width: 400px;
    text-align: center;
}

td { 
    border: 1px solid black;
    padding: 8px;
}