@charset "UTF-8";
/* em HTML é id= em CSS é # */
/* em HTML é class= em CSS é . */
body { 
    background-color:#0f172a;
    font-family: Arial, Helvetica, sans-serif;
    color:#e2e8f0 ;

}
h1 {
    color: #f1f5f9;
}
h1#principal { 
    text-align: center;
    color: #2dd4bf;
}
h2 {
    color:#cbd5e1;
}

.basico { 
    color: #38bdf8 ;
}

.intermediario { 
    color:  #818cf8;
}

.avancado {  
    color:#64748b ;
}
