@charset "UTF-8";
    body { 
            background-color: aquamarine;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;   
        }
        h1 { 
            color: rgb(102, 155, 32);
            background-color: rgb(78, 24, 92);
        }
        h2 { 
            color: darkgreen;
            
        
        }
        p { 
            text-align: justify;
        }