@charset "UTF-8";

table {       
    border-collapse: collapse;
    width: 400px;
}

th { 
    background-color: grey;
}

 th, td{ 
    border: 2px solid black;
    padding: 6px;
    
    
}

td.num { 
    text-align: right;
}

td.special { 
    text-align: center;
    background-color: grey;
}
