@charset "UTF-8";

body { 
    background-color: rgb(168, 152, 118);
}

table {       
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}

th { 
    background-color: grey;
}

 th, td{ 
    border: 2px solid black;
    padding: 6px;
    
    
}

td.num { 
    text-align: right;
}

td.special { 
    text-align: center;
    background-color: grey;
}

caption { 
    font-size: 1.5em;
    font-weight: bold;
}

tbody > tr:nth-child(2n) { 
    background-color: rgba(150, 150, 150, 0.521);
}

thead > tr > th { 
    position: sticky;
    top: 0;
    background-color: grey;

}