@charset "utf-8";
div { 
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    padding: 20px;
}

div:hover {  
    background-color: #8FA3B8;


}