@charset "utf-8";

* { 
    font-family: 'Arial', sans-serif;
    /*height: 100%;*/

}

body {
    background-image: linear-gradient(to right, #F2884B, #F27244);

}

p {
    text-align: justify;

}

main { 
    background-color: white;
    width: 40%;
    padding: 10px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1 { 
    color:#260104;

}

h2 { 
    color:#400202;

}